<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<body>

    <nav class="navbar navbar-expand-lg ">
        <div class="container ">
            <a class="navbar-brand" href="#">Little Fashion</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="#">
                        <%if(!currentUser){%>
                            <a href="/login" class="nav-link" alt="login"> login</a>
                            <%}else{%>
                                <a href="/logout" class="nav-link">Logout</a>
                                <%}%>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <h1 class="container py-3">Manage your product </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Description</th>
                <th scope="col">show</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < products.length; i++) { %>
                <tr>
                    <th><%= i+1 %></th>
                    <th><div style="width: 80px; height:80px; overflow: hidden;"><img src="<%=products[i].Pimg%>" alt="image error" style="width: 100%; background-position: cover; "></div></th>
                    <td><%= products[i].Pname %></td>
                    <td><%= products[i].Pshortdesc %></td>
                    <td><a class="btn bg-success" href="/product/<%=products[i]._id%>">show</a></td>
                    <td><a class="btn bg-primary" href="/product/<%=products[i]._id%>/edit">Edit</a></td>
                    <td><form class="col-lg-6 col-12  mt-lg-0"
                        action="/product/<%=products[i]._id%>?_method=DELETE"
                        method="POST">
                        <div class="col-lg-6 col-12  mt-lg-0">
                            <button class="btn bg-danger">Delete</button>
                        </div>
                    </form></td>
                </tr>
            <% } %>
        </tbody>
    </table>











    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>