<%-include('../partials/header')%>
    <main class="mb-4">
        <%-include('../partials/navbar')%>
       
            <header class="site-header section-padding d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12">
                            <h1>
                                <span class="d-block text-primary">Choose your</span>
                                <span class="d-block text-dark">favorite stuffs</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>
            
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-5">New Arrivals</h2>
            </div>
            <div class="row mb-3">
                <% for(let item of products){%>
            <div class="col-lg-4 col-md-3 col-sm-12">
                <div class="product-thumb ">
                    <a href="/product/<%=item._id%>">
                        <img src="<%=item.Pimg%>" class="img-fluid product-image" alt="">
                    </a>
                    <!-- <div class="product-top d-flex">
                        <span class="product-alert me-auto">New Arrival</span>

                    </div> -->
                    <div class="product-info d-flex">
                        <div>
                            <h5 class="product-title mb-0">
                                <a href="/product/<%=item._id%>" class="product-title-link"><%=item.Pname%></a>
                            </h5>

                            <p class="product-p"><%=item.Pshortdesc%></p>
                        </div>

                        <small class="product-price text-muted ms-auto mt-auto mb-5">Rs. <%=item.Pprice%></small>
                    </div>
                </div>
            </div>
                
            <%}%>
        </div>

        </div>

    </div>


    </main>
    <script src="/js/common.js"></script>

    <%-include('../partials/footer')%>